body, input, select {
  font-family: 'Fira Sans';
  font-size: 16px;
}

.tag {
  display: inline-block;
  margin: 2px;
  padding: 0.25em 0.25em 0.15em 0.25em;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.tag input[type=checkbox] {
  display: none;
}

.tag.collected {
  background-color: #ffa;
}

.tag.contributing {
  background-color: #fcc;
}

.tag.collected.contributing {
  background-color: #cfc;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #ddd;
}

th {
  cursor: pointer;
}

td, th {
  padding: 0.25em;
}
